<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="/user" method="post">

        <input name="name" type="text" placeholder="nome">
        <input name="data" type="date" placeholder="dataNasc">
        <input name="email" type="email" placeholder="email">
        <input name="senha" type="password" placeholder="senha">

        <button type="submit">Manda essa pouha</button>
    </form>

</body>

</html>